@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes moveText {
    0% {
      transform: translateX(140%);
    }
  }
  
  .moving-text {
    white-space: nowrap;
    animation: moveText 0.4s linear;
}

* {
    min-width: 0;
    box-sizing: border-box;
}
